# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.gz

# Folders
_obj
_test
tags
.idea
tmp
release
var
.vagrant
kg-media

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go
npm-debug.log

*.exe
gin-bin
foundation

# Configuration files
*.sublime-project
*.sublime-workspace
*.iml

# test dbs
db/sqlite/test/ottemo.db
ottemo.db
ottemo.ini
