; Configuration File for Ottemo
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; This file must be in the same folder as the foundation binary

; Media Path
;;;;;;;;;;;;;
; Path to media folder, must be writeable by Foundation
media.fsmedia.folder=/Users/james/code/kg-media

; MySQL Settings
;;;;;;;;;;;;;;;;
; db.mysql.uri is the DSN in the format
;     [username[:password]@][protocol[(address)]]/dbname[?param1=value1&...&paramN=valueN]
; example settings:
;     - for a remote host
;     db.mysql.uri=USER:PASSWORD@tcp(HOST:PORT)/DBNAME
;     - for a local mysql host
;     db.mysql.uri=USER:PASSWORD@/DBNAME
db.mysql.db=ottemo
db.mysql.uri=root@/
; max open connections in pool
; default is 0
db.mysql.maxConnections=50
; max idle connections in pool
; default is 10
db.mysql.poolConnections=10

; MongoDB Settings
;;;;;;;;;;;;;;;;;;
; mongodb.db.irui is the DSN in the following format
;     [username[:password]@[address:port]]/[dbname]
; example setting:
;      db.mongodb.uri=mongodb://USER:PASSWD@HOST:PORT/DBNAME
; db.mongodb.db=ottemo-dev
; db.mongodb.uri=mongodb://ottemo:ottemo@candidate.42.mongolayer.com:10243/ottemo-dev

; Secure Cookies
;;;;;;;;;;;;;;;;
; Turn off the use of secure cookies
;    - secure cookies are enabled by default
; This means cookies will only be sent over https by the browser.  Comment out
; or set this value to true to enable the use of secure cookies.
secure_cookie=false

